@charset "utf-8";

/* Article Styles */

article {
    margin: 10px auto;
    width: 90%;
}

article p {
    line-height: 1.5;
    margin-bottom: 10px;
}

@charset "utf-8";


/* Grid Rows Styles */
div.row {
    clear: both;
    position: relative;
    left: 150px;
}

div.row::after {
    clear: both;
    content: "";
    display: table;
}


/* Grid Columns Styles */
div[class^="col-"] {
    float: left;
}

div.col-1-2 {
    width: 50%;
}

/* Grid Outline Styles */
div.grid-container {
    display: grid;
    grid-gap: 50px 50px;
    grid-template-columns: 370px 370px;
    justify-content: space-evenly;
    background: radial-gradient(rgb(128, 0, 0), black);
    padding: 20px;
}

div.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 1.5em;
}