@charset "utf-8";

article h1{
    padding: 10px;
}

/* Div styles */

div.travel {
  margin: 5px;
  float: left;
  width: 180px;
}

div.travel:hover {
  border: 1px solid #777;
}

div.travel img {
  width: 100%;
  height: 180px;
}

div.desc {
  padding: 15px;
  text-align: center;
}